body {
    font-size: 16px;
    font-family: "Ubuntu variable", Ubuntu, "Bitstream Vera Sans", "DejaVu Sans", Tahoma, sans-serif;
    background-image: url('/static/images/bright_squares.png');
}

a {
    color: rgb(22, 6, 7);
    text-decoration: none;
}

input {
    width: 30%;
    height: 30px;
    font-size: large;
}

button {
    padding: 15px 30px;
    border: none;
    color: black;
    background-color: #cfc8c8;
    font-size: 20px;
}

.table_progress,
.table_progress th,
.table_progress td,
.table_progress tr {
    border: 2px solid black;
    font-size: 15px;
    border-collapse: collapse;
    text-align: center;
}

.table_login,
.table_login tr,
.table_login td {
    border-collapse: collapse;
    border: 1px solid;
    border-radius: 10px;
    width: 50%;
}
.table_login td {
    text-align: center;
}