body {
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    background-image: url('/static/images/bright_squares.png');
}
table, tr, th, td {
    border: 2px solid rgb(80, 33, 33);
    font-size: 15px;
    border-collapse: collapse;
}
a {
    color: rgb(152, 132, 228);
}