<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask app</title>
    <link rel="stylesheet" href="../static/css/index.css">
</head>
<body>
    <a href='/'><img src="/static/images/flask-name.svg" width="353" height="150" alt="Логотип"></a>
    <h1>Курс Flask</h1>
    <p>Прогресс прохождения курса</p>
    <table>
        <tr>
            <th></th>
            <th>Основы Flask</th>
            <th>HTML & CSS</th>
            <th>Шаблоны и формы в Flask</th>
            <th>Основы Flask-SQLAlchemy. Работа с базами данных в Flask</th>
            <th>Авторизация в Flask</th>
            <th>Работа с REST API</th>
            <th>Итоговый проект</th>
            <th>Итоговая аттестация</th>
        </tr>
        <tr>
            <th style="text-align: right">% выполнения темы</th>
            <td>100%<br><progress value="100" max="100"></td>
            <td>85%<br><progress value="85" max="100"></td>
            <td>0%<br><progress value="0" max="100"></td>
            <td>0%<br><progress value="0" max="100"></td>
            <td>0%<br><progress value="0" max="100"></td>
            <td>0%<br><progress value="0" max="100"></td>
            <td>0%<br><progress value="0" max="100"></td>
            <td>0%<br><progress value="0" max="100"></td>
        </tr>
        <tr>
            <th style="text-align: right">% выполнения задания</th>
            <td>100%<br><progress value="100" max="100"></td>
            <td>50%<br><progress value="50" max="100"></td>
            <td>0%<br><progress value="0" max="100"></td>
            <td>0%<br><progress value="0" max="100"></td>
            <td>0%<br><progress value="0" max="100"></td>
            <td>0%<br><progress value="0" max="100"></td>
            <td>0%<br><progress value="0" max="100"></td>
            <td>0%<br><progress value="0" max="100"></td>
        </tr>
        <tr>
            <th style="text-align: right">Комментарий</th>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
        </tr>
    </table>
</body>
</html>