{% extends 'index.html' %}
{% block title %}Дневник программиста{% endblock %}
{% block content %}
<table style="width: 100%; border: hidden;">
    <tr>
        <td style="text-align: left; border: hidden;">
            <form action="/note" method="post">
                <label for="title"><i>Заголовок записи</i></label><br>
                <input type="text" id="title" name="title" placeholder="Введите заголовок записи"><br>

                <label for="subtitle"><i>Подзаголовок записи</i></label><br>
                <input type="text" id="subtitle" name="subtitle" placeholder="Введите подзаголовок записи"><br>

                <label for="string"><i>Текст записи</i></label><br>
                <input type="text" id="string" name="string" placeholder="Введите текст записи"><br><br>

                <button type="submit" style="size: 34px;">Отправить</button>
            </form>
        </td>
    </tr>
    <tr>
        <td style="text-align: left;">
            <a href="/delete"><i>Удалить все записи</i></a>
            <h1>Записи:</h1>
            <ol>
            {% for note in notes %}
                <li>
                    <b>{{ note.title }}</b><br>
                    <div>{{ note.subtitle }}</div>
                    <i>{{ note.text}}</i>
                </li><br>
            {% endfor %}
            </ol>
        </td>
    </tr>
</table>
{% endblock %}